* {
    margin: 0;
    padding: 0;
}
#main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

svg {
    background: #a8e6cf;
}
.cell:hover {
    border: 3px solid black;
}
#tooltip {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 12px;
    font: 16px;
    background: red;
    border-radius: 8px;
}